@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
:root {
  --poppins: "Poppins", sans-serif;
  --lato: "Lato", sans-serif;

  --blue: #3498db;
  --dark-blue: #2980b9;
  --white: #fff;
  --light-bg: #eee;
  --dark-red: #c0392b;

  --light: #f9f9f9;
  --blue: #3c91e6;
  --light-blue: #cfe8ff;
  --grey: #eee;
  --dark-grey: #aaaaaa;
  --dark: #342e37;
  --red: #db504a;
  --yellow: #ffce26;
  --light-yellow: #fff2c6;
  --orange: #fd7238;
  --light-orange: #ffe0d3;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
html {
  overflow-x: hidden;
}

body.dark {
  --light: #0c0c1e;
  --grey: #060714;
  --dark: #fbfbfb;
}

body {
  background: var(--light-yellow);
  overflow-x: hidden;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--blue);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background: #fff2c6;
}

/* MAIN */
#content main {
  width: 100%;
  padding: 36px 24px;
  font-family: var(--poppins);
  max-height: calc(100vh - 56px);
  overflow-y: auto;
}

/* AddCustomer Form */
.add-customer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login {
  background-color: #fffde7;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 40px; /* Increased padding */
  width: 400px; /* Increased width */
}

.login form {
  display: flex;
  flex-direction: column;
}

.login label {
  font-size: 24px; /* Increased font size */
  font-weight: bold;
  margin-bottom: 20px; /* Increased margin */
}

.login .inputBox {
  margin-bottom: 20px;
  height: 40px;
}

.login .inputBox input {
  width: 100%;
  padding: 15px; /* Increased padding */
  border-radius: 10px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 18px; /* Increased font size */
}

.login .btn {
  display: inline-block;
  padding: 15px 30px; /* Increased padding */
  border-radius: 20px;
  background-color: var(--blue);
  color: #fffde7;
  text-decoration: none;
  font-size: 18px; /* Increased font size */
  font-weight: 500;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.login .btn:hover {
  background-color: #2975a3;
}
/* MAIN */
/* CONTENT */

@media screen and (max-width: 768px) {
  #content {
    position: relative;
    width: calc(100% - 60px);
  }
  #content nav .nav-link {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  #content nav form .form-input input {
    display: none;
  }
  #content nav form .form-input button {
    width: auto;
    height: auto;
    background: transparent;
    border-radius: none;
    color: #342e37;
  }
  #content nav form.show .form-input input {
    display: block;
  }
  #content nav form.show .form-input button {
    width: 36px;
    height: 100%;
    border-radius: 0 36px 36px 0;
    color: #f9f9f9;
    background: #db504a;
  }
  #content nav form.show ~ .notification,
  #content nav form.show ~ .profile {
    display: none;
  }
  .update-profile form .flex {
    flex-wrap: wrap;
    gap: 0;
  }
  .update-profile form .flex .inputBox {
    width: 100%;
  }
}
