/* Reset default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; /* Modern font family */
  background-color: #f3f4f6; /* Soft background color */
}

.navigator {
  background-color: #2c3e50;
  padding: 20px;
  width: 200px; /* Fixed width for the navigator */
  height: 100vh;
  position: fixed;
}

.navigator ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navigator ul li {
  margin-bottom: 15px; /* Adjusted margin for better spacing */
}

.navigator ul li a {
  color: #fff; /* White text color */
  text-decoration: none;
  font-weight: bold;
  display: block;
  padding: 10px;
  transition: background-color 0.3s ease; /* Smooth transition on hover */
}

.navigator ul li a:hover {
  background-color: #34495e; /* Darker background color on hover */
}

.container {
  margin: 20px;
  padding: 15px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle box shadow */
}

.right-align {
  text-align: right;
  margin-bottom: 20px;
}

.right-align div {
  display: inline-block;
  text-align: left;
}

.right-align small {
  font-size: 12px;
  color: gray;
}

.update-btn {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease; /* Smooth transition */
}

.delete-btn {
  background-color: #f44336; /* Red */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease; /* Smooth transition */
}

/* Hover effect for buttons */
.update-btn:hover,
.delete-btn:hover {
  opacity: 0.8;
}
